<div class="card card-top-spacer">
  <div class="card-content">
    <span class="card-title">Resend unlock instructions</span>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field input-field form-spacer">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions", class: "btn light-blue accent-4" %>
      </div>
    <% end %>

    <br>

    <div class="card-action">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
