<%= form_with(model: meal) do |form| %>
  <%# Meal description text field input %>
  <div class="field">
    <%= form.label "Enter meal description:", class: "font-label" %>
    <%= form.text_field :name, placeholder: "Example: 2 large baked potatoes" %>
  </div>
  <%# Hidden field that finds and submits current user's id with their meal %>
  <div class="field">
    <%= form.number_field :user_id, id: :meal_user_id, value: current_user.id, type: :hidden %>
  </div>
  <div class="actions">
    <%= form.submit "Add", class: "btn light-blue accent-4" %>
  </div>
<% end %>