<%# Render the user's home screen (list of meals) if they are signed in %>
<% if user_signed_in? %>

  <h2 class="center-align text-bold meals-header">Meals</h2>

  <%# If user has meals, display them all, otherwise, display to the user the fact that they have no meals %>
  <% if @meals.empty? %>
    <div class="container">
      <div class="card center-align">
        <div class="card-content">
          <h6>No meals yet...</h6>
          <h6>Add your first one below!</h6>
        </div>
      </div>
    </div>
  <% else %>
    <% @meals.each do |meal| %>
      <div class="card-panel card-flex row">
        <img class="col s3" src="<%= meal.thumbnail %>">
        <div class="card-flex col s10">
          <p class="meal-name"><%= meal.name %></p>
          <p class="meal-qty"><%= meal.quantity %> <%= meal.units %></p>
          <p class="meal-cals"><span class="text-bold teal-text"><%= meal.calories %></span> Calories</p>
          <%= link_to meal, method: :delete, data: { confirm: 'Are you sure?'}, class: "waves-effect waves-light btn-floating red lighten-1" do %>
            <i class="material-icons">remove</i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <br>

  <div class="card new-meal-card">
    <div class="card-content">
      <%# The form expects a new Meal instance, which is normally created and given to the 'new' method by way of the 'edit' method.
      Since we're using the new method here and bypassing the 'edit' method, we must directly provide a new Meal instance %>
      <%= render 'form', meal: Meal.new %>
    </div>
  </div>

<%# Render the welcome screen if user is not signed in %>
<% else %>

  <div class="card-panel card-top-spacer center-align">
    <h1>Welcome!</h1>
    <p class="welcome-subtitle">You need to either log in or sign up for a new account to start using this app.</p>
    <div class="container center-align welcome-btns">
      <%= link_to "Log In", new_user_session_path, class: "welcome-btn-left btn waves-effect waves-light light-blue accent-4" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "welcome-btn-right btn waves-effect waves-light" %>
    </div>
  </div>

<% end %>