<div class="card card-top-spacer">
  <div class="card-content">
    <span class="card-title">Log in</span>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field input-field form-spacer">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field input-field form-spacer">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-spacer">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span>Remember me</span>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn light-blue accent-4" %>
      </div>
    <% end %>

    <br>

    <div class="card-action">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
